.backgroundImg {
    background-image: url(https://media.apnarm.net.au/media/images/2020/07/25/v3imagesbin8af294b5163810091b41302a6607ceb5-clz3j96uva2edqjgqu2.jpg);
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100;
}

.landingJumbo {
    height: 1010%;
    width: 60%;
    background-color: transparent !important;
    opacity: 1;
 
}

.cardBackground{
    background-color: rgb(3, 174, 247)!important;
}


.jumboText {
    color: black;
}

.companyName {
    font-size: 5vw;
}

.fa-stack {
    vertical-align: top;
    color: grey
}

.facebookLogo:hover {
    color: #4267b2 !important;
}

.twitterLogo:hover {
    color: #1da1f2 !important;
}

.instagramLogo:hover {
    color: #f09433; 
}

.linkedinLogo:hover {
    color: #0073b0 !important;
}

.googleLogo:hover {
    color: #dc5246 !important;
}